
@{
    ViewData["Title"] = "ListDevice";
}

<div class="container-fluid content-wrapper ">

    <div class="row justify-content-between m-lg-5">
        <div class="col-4">
            <h3 class="m-3" style="font-weight:500"> List<span style="opacity:0">0</span>of<span style="opacity:0">0</span>Devices</h3>
        </div>
        <div class="col-2">
            <form class="form-inline md-form form-sm active-pink-2 mt-2">
                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
                <i class="fas fa-search" aria-hidden="true"></i>
            </form>

        </div>
    </div>

    <div class="row my-3 m-lg-5 ">
        <div class="col-md-12 ">
            <div class="table-responsive">
                <table id="listDevice" class="table-striped  table table-sm table-bordered shadow">
                    <thead class="table-header">
                        <tr>
                            <th width="5%" class="th-sm">SL.No</th>
                            <th class="th-sm">IMEI Number</th>
                            <th class="th-sm">Customer Name</th>
                            <th class="th-sm">Sim Card No</th>
                            <th class="th-sm">Location</th>
                            <th class="th-sm">Sensor Parameters</th>
                            <th class="th-sm">Frequency Of Alerts</th>
                            <th class="th-sm"> Status</th>
                        </tr>
                    </thead>
                    <tbody class="teble-algin">
                        <tr>
                            <td>1</td>
                            <td> <a href="#">2424234234234</a></td>
                            <td>47</td>
                            <td>Relay</td>
                            <td><a href="#">Dand</a></td>
                            <td>P1 &nbsp;&nbsp;&nbsp;&nbsp;P2&nbsp;&nbsp;&nbsp;&nbsp;P3&nbsp;&nbsp;&nbsp;&nbsp;P4&nbsp;&nbsp;&nbsp;&nbsp;P5 &nbsp;&nbsp;&nbsp;&nbsp;P6 &nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>3 </td>
                            <td style="color:#0f690a;">Active </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    

    
</div>
        @section Styles {
            <link href="~/lib/mdbootstrap/css/mdb.css" rel="stylesheet" />
            <link href="~/lib/mdbootstrap/css/addons/datatables.min.css" rel="stylesheet">
            <link href="~/lib/mdbootstrap/css/addons/datatables-select.min.css" rel="stylesheet">
        }
        @section Scripts {
         

            <!-- DataTables Select CSS -->
            <script src="~/lib/mdbootstrap/js/addons/datatables.min.js" type="text/javascript"></script>
            <script src="~/lib/mdbootstrap/js/addons/datatables-select.min.js" type="text/javascript"></script>
        }

            