@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Log in";
    Layout = "_LoginLayout";    
}

<div class="container vertical-center">
    <div class="card card-login mx-auto mt-5">
        <div id="login_header" class="card-header">
            <img src="~/images/login_page_top.png" class="img-fluid" alt="Responsive image">
        </div>
        <div class="card-body">
            <form asp-controller="Customers" asp-action="Login" method="post">
                <div class="form-group">
                    <div class="form-label-group">
                        <input name="username" type="text" id="inputUserName" class="form-control" placeholder="User Name" required="required" autofocus="autofocus">
                        <label for="inputUserName">User Name</label>
                    </div>
                </div>
                <div class="form-group py-2">
                    <div class="form-label-group">
                        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
                        <label for="inputPassword">Password</label>
                    </div>
                </div>
                <button id="btlogin" type="submit" class="btn btn-primary btn-block py-2 mx-5">
                    Sign In
                </button>
                
                <div class="form-group py-2">
                    <div class="checkbox d-flex justify-content-center mt-3">
                        <label class="remember_password">
                            <input type="checkbox" value="remember-me">
                            Remember Username
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>