

@{
    ViewData["Title"] = "Alerts";
}


<div class="container-fluid content-wrapper ">
    <div class="ml-lg-5">
        <div class="h3 d-flex justify-content-start  mt-5 ml-lg-5 ">
            Alerts
        </div>
    </div>

    <div class="row ml-lg-5 mt-3">
        <div class="col-sm ml-sm-3 ml-lg-3 mr-lg-5" style="width:80%;">
            <div class="dropdown">
                <button class="  btn-sm dropdown-toggle head-dropdown2 shadow" type="button" id="dropdownMenuButton " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All Alerts
                </button>
                <div class="dropdown-menu border-bottom" aria-labelledby="dropdownMenuButton" style="width:89% ; text-align:center;color:black; ">
                    <a class="dropdown-item" href="#">Device No.</a>
                    <a class="dropdown-item" href="#">Customer</a>
                    <a class="dropdown-item" href="#">Location</a>
                </div>
            </div>
        </div>
        <div class="col-sm ml-sm-3 ml-lg-3  mr-lg-5 calendars" style="width:80%;">
            <label class="col-form-label  ">
                <i class="fas fa-calendar-alt " style="font-size:19px; color: green;"></i>
            </label>
            <label class="col-form-label" style="font-size:12px; margin-left:-4px;">
                From
            </label>
            <input type="date" id="start" name="trip-start" style="width:65%;height: 32px;margin-left:-4px;"
                   value="2018-07-22"
                   min="2018-01-01" max="2018-12-31">
        </div>
        <div class="col-sm ml-sm-3 ml-lg-3 mr-lg-5 calendars" style="width:80%;">
            <label class="col-form-label mr-1 ">
                <i class="fas fa-calendar-alt " style="font-size:20px; color: green;"></i>
            </label>
            <label class="col-form-label">
                To:
            </label>
            <input type="date" id="start" name="trip-start" style="width:65%;height: 32px;"
                   value="2018-07-22"
                   min="2018-01-01" max="2018-12-31">
        </div>
        <div class="col-sm  ml-lg-3 mr-lg-5">
            <button type="submit" class=" btn-sm shadow search-btn">Search</button>
        </div>
    </div>

    <div class="row my-3 m-lg-5 ">
        <div class="col-md-12 ">
            <div class="table-responsive">
                <table id="alerts-list" class="display table-sm table-bordered" style="width:100%; text-align:center">
                    <thead style="background:#209E93; ">
                        <tr >
                            <th class="alerts-tableHead">No.</th>
                            <th class="alerts-tableHead">Location</th >
                            <th class="alerts-tableHead">IMEI/Dvice Number</th>
                            <th class="alerts-tableHead">Customer Name</th>
                            <th class="alerts-tableHead">Time</th>
                            @*<th class=" alert_sensors" >
                                    <div style="display:inline-block;"><img src="~/images/box_icon1.png" width='25' height='25' alt="" /></div>
                                    <div style="display:inline-block;"><img src="~/images/box_icon2.png" width='27' height='27' alt="" /></div>
                                    <div style="display:inline-block"><img src="~/images/box_icon3.png" width='25' height='25' alt="" /></div>
                                    <div style="display:inline-block"><img src="~/images/box_icon4.png" width='25' height='25' alt="" /></div>
                                    <div style="display:inline-block"><img src="~/images/box_icon5.png" width='25' height='25' alt="" /></div>
                                    <div style="display:inline-block"><img src="~/images/box_icon6.png" width='25' height='25' alt="" /></div>
                                </th*@
                            <th class="alerts-tableHead"><img src="~/images/box_icon1.png" width='25' height='25' alt="" /> </th>
                            <th class="alerts-tableHead"><img src="~/images/box_icon2.png" width='25' height='25' alt="" /> </th>
                            <th class="alerts-tableHead"><img src="~/images/box_icon3.png" width='25' height='25' alt="" /> </th>
                            <th class="alerts-tableHead"><img src="~/images/box_icon4.png" width='25' height='25' alt="" /> </th>
                            <th class="alerts-tableHead"><img src="~/images/box_icon5.png" width='25' height='25' alt="" /> </th>
                            <th class="alerts-tableHead"><img src="~/images/box_icon6.png" width='25' height='25' alt="" /> </th>

                            <th width="7%" class="alerts-tableHead">Device Status</th>
                            <th class="alerts-tableHead">Alert Report</th>
                        </tr>
                    </thead>
                    <tbody class="teble-algin">
                        <tr>
                            <td>1</td>
                            <td> <a href="#">Wyaming</a></td>
                            <td> <a href="#">123456789</a> </td>
                            <td> Name 1 </td>
                            <td>12:2:2:12</td>
                            <td>2 </td>
                            <td>2 </td>
                            <td>2 </td>
                            <td>2 </td>
                            <td>2 </td>
                            <td>2 </td>
                            <td>
                                <div class="red color-block rounded-circle z-depth-1 m-auto" style="width:20px;height:20px">
                                </div>
                            </td>
                            <td> Fail </td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td> <a href="#">Wyaming</a></td>
                            <td> <a href="#">123456789</a> </td>
                            <td>  Name 1 </td>
                            <td> 12:2:2:12</td>
                            <td>2 </td>
                            <td>2 </td>
                            <td>2 </td>
                            <td>2 </td>
                            <td>2 </td>
                            <td>2 </td>
                            <td>
                                <div class="blue-gradient color-block rounded-circle z-depth-1 m-auto" style="width:20px;height:20px">
                                </div>
                            </td>
                            <td>
                                Success
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>

    

    <div class=" d-flex justify-content-end mt-lg-3 ">
        <button type="submit" class="btn-other btn-sm " style=" margin-right:7%; ">Download</button>
    </div>

</div>
@section Styles {

    <link href="~/plugins/dataTables/jquery.dataTables.min.css" rel="stylesheet" />

}


@section Scripts {
    <script src="~/plugins/jquery/dist/jquery.min.js"></script>
    <script src="~/plugins/dataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#alerts-list').DataTable({
            });
        });
    </script>
}



