
@{
    ViewData["Title"] = "AddAdmin";
}

<div class="container-fluid content-wrapper ">
    <div class="ml-lg-4 ml-sm-0">
        <div class="h3 d-flex justify-content-start ml-5  mt-5 ">
            Add Admin
        </div>
    </div>
    <form>
        <div class="profile row ml-0 mt-3 ml-sm-5">
            <div class="col-lg-12 ">
                <div class="row mt-sm-1">
                    <div class="col-md-6">
                        <div class="form-group row m-lg-3">
                            <label  class="col-form-label "><i class="fas fa-user profile-icon"></i></label>
                            <div class="col-8">
                                <div class="md-form mt-3">
                                    <input type="text" class="form-control" id="admin_contactPerson" placeholder="Contact Person">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ml-auto">
                        <div class="form-group row m-lg-3">
                            <label  class="col-form-label "><i class="fas fa-map-marker-alt profile-icon"></i></label>

                            <div class="col-8">
                                <div class="md-form mt-3">
                                    <input type="text" class="form-control" id="admin_address" placeholder="Address">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row m-lg-3">
                            <label  class="col-form-label "><i class="fas fa-envelope profile-icon"></i></label>
                            <div class="col-8">
                                <div class="md-form mt-3">
                                    <input type="email" class="form-control" id="add_email" placeholder="Email">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ml-auto">
                        <div class="form-group row m-lg-3">
                            <label  class="col-form-label "><i class="fas fa-mobile-alt profile-icon"></i></label>
                            <div class="col-8">
                                <div class="md-form mt-3">
                                    <input type="text" class="form-control" id="admin_phone" placeholder="Mobile">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row justify-content-md-center mt-5 mb-3">
            <div class="col col-lg-3 add-div shadow">
                <div class="profile row ">
                    <div class="col-lg-12 ml-4 mt-2 ">
                        <div class=" row ">
                            <label  class="col-form-label "><i class="fas fa-user profile-icon"></i></label>
                            <div class="col-7">
                                <div class="md-form mt-3">
                                    <input type="text" class="form-control" id="admin_userName" placeholder="User Name">
                                </div>
                            </div>
                        </div>
                        <div class=" row ">
                            <label for="inputEmail3MD" class="col-form-label "><i class="fas fa-lock profile-icon"></i></label>
                            <div class="col-7">
                                <div class="md-form mt-3">
                                    <input type="password" class="form-control" id="admin_password" placeholder="Password">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="row justify-content-center mb-5 ml-5">
            <div class="col-4">
                <button type="submit" class="btn-other btn-sm" style="margin-left:100px; margin-top:50px;">Add</button>
            </div>

        </div>
    </form>
   
</div>

@section Styles {
    <link href="~/lib/mdbootstrap/css/mdb.css" rel="stylesheet" />
}

