@{
    ViewData["Title"] = "create";
    var success = ViewData["success"];
}

<div class="container-fluid content-wrapper">
    <div class="mt-5">
        <div class="m-sm-5">
            <div class="d-flex justify-content-start ml-sm-3 ">
                <h3 class="" style="font-weight: 500;"> Administrator<span style="opacity:0">0</span>Detail</h3>
            </div>
        </div>
        
    </div>

    @*@if (success != null)
        {
            @if (success.ToString() == "true")
            {
                <div class="alert alert-success alert-dismissible fade show mt-4 m-alert m-alert--square m-alert--air" role="alert" style="font-size : 20px">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                    <strong>
                        <strong>Create Success!</strong>
                    </strong>
                </div>
            }
            else
            {
                <div class="alert alert-danger alert-dismissible fade show mt-4 m-alert m-alert--square m-alert--air" role="alert" style="font-size : 20px">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                    <strong>
                        <strong>Create Fail!</strong>
                    </strong>
                </div>
            }
        }*@
    <div class="profile row ml-0">
        <form asp-controller="Customers" class="needs-validation col-lg-12 ml-0 ml-lg-5" novalidate>
            <div class="form-group md-form row m-lg-3">
                <label class="col-form-label"><i class="fas fa-user profile-icon"></i></label>
                <div class="col-lg-5">
                    <div class="md-form ml-5">
                        <input name="name" type="text" class="form-control" id="create_userName" placeholder="User Name" required="required">
                    </div>
                </div>
            </div>

            <div class="form-group md-form row m-lg-3">
                <label class="col-form-label"><i class="fas fa-lock profile-icon"></i></label>
                <div class="col-lg-5">
                    <div class="md-form ml-5">
                        <input name="password" type="password" class="form-control" id="create_password" placeholder="Password" required="required">
                    </div>
                </div>
            </div>
            <div class="form-group md-form row m-lg-3">
                <label for="create_companyName" class="col-form-label "><i class="fas fa-building profile-icon"></i></label>
                <div class="col-lg-5">
                    <div class="md-form ml-5">
                        <input name="company" type="text" class="form-control" id="create_companyName" placeholder="Company Name" aria-describedby="inputGroupPrepend" required="required" autofocus="autofocus">
                    </div>
                </div>
                <div class="invalid-feedback">
                    Please provide a company name.
                </div>
            </div>

            <div class="form-group md-form row m-lg-3">
                <label class="col-form-label "> <i class="fas fa-user profile-icon"></i></label>
                <div class="col-lg-5">
                    <div class="md-form ml-5">
                        <input name="contactperson" type="text" class="form-control" id="create_contactPerson" placeholder="Contact Person" required="required">
                    </div>
                </div>
            </div>

            <div class="form-group md-form row m-lg-3">
                <label class="col-form-label "><i class="fas fa-map-marker-alt profile-icon"></i></label>
                <div class="col-lg-5">
                    <div class="md-form ml-5">
                        <input name="address" type="text" class="form-control" id="create_address" placeholder="Address" required="required">
                    </div>
                </div>
            </div>

            <div class="form-group md-form row m-lg-3">
                <label class="col-form-label"><i class="fas fa-envelope profile-icon"></i></label>
                <div class="col-lg-5">
                    <div class="md-form ml-5">
                        <input name="email" type="email" class="form-control" id="create_email" placeholder="Email" required="required">
                    </div>
                </div>
            </div>

            <div class="form-group md-form row m-lg-3">
                <label class="col-form-label"><i class="fas fa-phone profile-icon"></i></label>
                <div class="col-lg-5">
                    <div class="md-form ml-5">
                        <input name="phone" type="text" class="form-control" id="create_phone" placeholder="Phone" required="required">
                    </div>
                </div>
            </div>

            <div class="form-group md-form row m-lg-3">
                <label class="col-form-label"><i class="fas fa-mobile-alt profile-icon"></i></label>
                <div class="col-lg-5">
                    <div class="md-form ml-5">
                        <input name="mobile" type="text" class="form-control" id="create_mobile" placeholder="Mobile" required="required">
                    </div>
                </div>
            </div>



            <div class="form-group  d-flex justify-content-end mr-6 ">
                <button type="submit" class="btn-other btn-sm" style="width:150px;">Save</button>
            </div>

        </form>
    </div>
</div>


@section Styles {
    <link href="~/plugins/mdbootstrap/css/mdb.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />

}
@section Scripts {

    <script src="~/js/create.js" type="text/javascript"></script>

    <!-- DataTables Select CSS -->

}

